:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;

  --primary-font-family: 'Roboto', sans-serif; /**/
  --secondary-font-family: 'Raleway', sans-serif; /**/

  --primary-text-color: var(--color-slate);
  --secondary-text-color: var(--color-navy-blue);
  --primary-text-color-dark: var(--color-cornflower);
  --secondary-text-color-dark: white;
  --primary-background-color: white;
  --secondary-background-color-light: var(--color-cloud);
  --secondary-background-color-dark: var(--color-navy-blue);

  --logo-primary-color: var(--color-iris);
  --logo-secondary-color-dark: var(--color-navy-blue);
  --logo-secondary-color-light: var(--color-cloud);
  --accent-link-color: var(--color-ocean);
  --button-face-color: var(--color-iris);
  --button-accent-face-color: var(--color-ocean);
  --button-text-color: white;
  --button-filter-face-color: var(--color-cloud);
  --button-filter-text-color: var(--color-iris);
  --button-filter-border-color: var(--color-cornflower);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  color: var(--primary-text-color);
  font-size: 16px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--accent-link-color);
}
.list {
  list-style: none;
}

.hidden-element {
  display: none;
}

.container {
  display: block;
  max-width: 1158px;
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px dashed tomato; */
}
/* ================COMPONENT========== */

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-primary-color);
}

.logo-studio-part {
  color: var(--logo-secondary-color-dark);
}

.button-order {
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: inherit;
  color: var(--button-text-color);
  background-color: var(--button-face-color);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--button-accent-face-color);
  cursor: pointer;
}

.portfolio-filters-button {
  padding: 12px 24px;

  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-filter-text-color);
  background-color: var(--button-filter-face-color);
  border: 1px solid var(--button-filter-border-color);
  border-radius: 4px;
}

.portfolio-filters-button:hover,
.portfolio-filters-button:focus,
.portfolio-filters-button:active {
  color: var(--button-text-color);
  background-color: var(--accent-link-color);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;
}
.second-level-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.third-level-header {
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===============/COMPONENT========== */
/* =============== HEADER============= */
.header .container {
  display: flex;
  justify-content: space-between;
  background: var(--primary-background-color);
  /* CORNFLOWER */

  border-bottom: 1px solid var(--button-filter-border-color);
}

.header-navigation {
  display: flex;
  outline: 2px dashed tomato;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
  outline: 2px dashed tomato;
  margin-right: 76px;
}

.header-menu {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  outline: 2px dashed tomato;
}
.header-menu-item {
  font-family: var(--primary-font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

.header-menu-item-link {
  color: var(--secondary-text-color);
}
.header-contact {
  font-style: normal;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header-contact-list {
  display: flex;
  outline: 2px dashed tomato;
}
.header-contact-item:not(:last-child) {
  margin-right: 40px;
}
.header-contact-item-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  outline: 2px dashed tomato;
}

/* ==============/HEADER============= */
/* =================HERO================== */
.hero {
  background-color: var(--secondary-background-color-dark);
}

.hero .container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  display: block;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
}

.hero .button-order {
  display: block;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* =================/HERO================== */
/* ======================ADVENCES=============== */
.advences .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advences-list {
  display: flex;
}

.advences-list-item:not(:last-child) {
  margin-right: 40px;
}
/* ======================ADVENCES=============== */
/* ========================WEDOING================== */
.wedoing .container {
  /* padding-top: 120px; */
  padding-bottom: 120px;
}
.wedoing-header {
  text-align: center;
  margin-bottom: 70px;
}
.wedoing-list {
  display: flex;
  outline: 2px dashed tomato;
}
.wedoing-list-item:not(:last-child) {
  margin-right: 24px;
}
.wedoing-list-item-foto {
  display: block;
}
/* ========================WEDOING================== */

/* ===================/OURTEAM========================== */
.ourteam .container {
  padding-top: 120px;
  padding-bottom: 120px;
  /* background-color: var(--secondary-background-color-light); */
}
.ourteam-header {
  text-align: center;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
}
.ourteam-person-foto {
  display: block;
}
.ourteam-list-item {
  text-align: center;
  background-color: var(--primary-background-color);
}
.ourteam-list-item:not(:last-child) {
  padding-right: 24px;
}
.ourteam {
  background-color: var(--secondary-background-color-light);
}
/* ===================OURTEAM========================== */
/* =====================PORTFOLIO==================== */
.portfolio .container {
  padding-top: 96px;
  padding-bottom: 120px;
  /* text-align: center; */
}

.portfolio-filters-button-list {
  display: flex;
  /* width: 586px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  justify-content: center;
  outline: 2px dashed tomato;
}
.portfolio-filters-button-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
  outline: 2px dashed lawngreen;
}
.portfolio-list-item {
  margin: 12px;
  padding-bottom: 32px;
}
.portfolio-list-item-header {
  margin-top: 32px;
  margin-bottom: 8px;
}
.portfolio-list-item-type {
  color: var(--primary-text-color);
}
/* =====================/PORTFOLIO==================== */
/* ===================FOOTER==================== */
.footer {
  background-color: var(--secondary-background-color-dark);
  color: var(--primary-text-color-dark);
}
.footer .logo-studio-part {
  color: var(--logo-secondary-color-light);
}
/* =======================FOOTER=============== */
.footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .logo {
  outline: 2px dashed tomato;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  outline: 2px dashed tomato;
}
